{% extends "blog/base.html" %}

{% block content %}
<h2>Blog Posts</h2>

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.id %}">
                    {{ post.title }}
                </a>
                <br>
                <small>Published: {{ post.published_date }}</small>
                <br>
                <small>Author: {{ post.author.username }}</small>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts available.</p>
{% endif %}

{% endblock %}
